* {
    background: black;
    color: white;
    font-family: 'Creepster', cursive;
    font-size: 50px;
    color: rgb(150, 25, 25);
}

#container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

button {
    border-radius: 10px;
    width: 220px;
    padding: 10px;
    border-color: red;
}

#roundNumber {
    display: flex;
    justify-content: center;
    color: red;
}

#scoreBoard {
    display: flex;
    justify-content: space-evenly;
}

.info {
    padding: 20px 0px;
    margin: 0px 200px;
    text-align: center;
    font-size: 30px;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}