* {
    background: black;
    color: white;
}

#container {
    display: flex;
    justify-content: space-evenly;
}

button {
    border-radius: 10px;
    font-size: 50px;
    width: 220px;
    padding: 10px;
}

#roundNumber {
    display: flex;
    justify-content: center;
    color: red;
}

#scoreBoard {
    display: flex;
    justify-content: space-evenly;
}

.info {
    padding: 20px 0px;
    font-size: 20px;
}

#info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    font-size: 20px;
}